@import './normalize.css';
@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/bariol_bold-webfont.woff2'), url('./fonts/bariol_bold-webfont.woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
  src: url('./fonts/bariol_bold_italic-webfont.woff2') format('woff2'), url('./fonts/bariol_bold_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/bariol_light-webfont.woff2') format('woff2'), url('./fonts/bariol_light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: italic;
  src: url('./fonts/bariol_light_italic-webfont.woff2') format('woff2'), url('./fonts/bariol_light_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/bariol_regular-webfont.woff2') format('woff2'), url('./fonts/bariol_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: italic;
  src: url('./fonts/bariol_regular_italic-webfont.woff2') format('woff2'), url('./fonts/bariol_regular_italic-webfont.woff') format('woff');
}

$font-stack: 'Bariol',
Helvetica,
sans-serif;
$br-small: 640px;
$br-medium: 900px;
$br-large: 1500px;
$black: #222;
body {
  box-sizing: border-box;
  height: 100vh;
  border: 20px rgba(144, 122, 254, 0.20) solid;
  font: 17px/1.3 $font-stack;
  @media (max-width: $br-small) {
    font-size: 1.25rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $black;
}

h1 {
  font-size: 2.7em;
  line-height: 1.02;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

h3 {
  font-weight: 600;
  font-size: 1.4em;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

h5 {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8em;
}

main {
  width: 700px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &--text {
    width: 500px;
    text-align: center;
    img {
      margin-bottom: 40px;
    }
    h1 {
      margin-bottom: 30px;
    }
  }
}

#circle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 850px;
  height: 850px;
  background-color: white;
  opacity: 1;
  border-radius: 325px;
  filter: blur(100px);
  z-index: -1;
}

.sketch {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  opacity: .2
}

.fade-in {
  opacity: 0;
  transform: translateY(3px);
}
